<% include ../partials/header %>

<div class="row">
    <div class="col-md-4">
        <h1><%= user.firstName.substr(0, 1).toUpperCase() + user.firstName.substr(1).toLowerCase() + ' ' + user.lastName.substr(0, 1).toUpperCase() + user.lastName.substr(1).toLowerCase() %></h1>
        <div class="thumbnail">
            <img src="<%= user.avatar %>" alt="user profile image">
            <div class="caption"><a href="mailto:<%= user.email %>"><%= user.email %></a></div>
        </div>
        <p>Lipsum dolor sit amet, consectetur adipisicing elit. Laboriosam ullam est delectus reprehenderit
            asperiores, quaerat aliquam labore at a ad explicabo in, error impedit non. At explicabo sed odit quos!</p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem amet aliquam nemo cumque, omnis
            possimus
            debitis tempora, fuga sed recusandae voluptatum quasi quibusdam odit officia temporibus? At facere eum
            eligendi?</p>
    </div>
    <div class="col-md-8">
        <h3><%= user.username.toUpperCase() %>'s campgrounds:</h3>
        <ul>
            <% campgrounds.forEach((campground)=> { %>
            <li><a href="/campgrounds/<%= campground.id %>"><%= campground.name %></a></li>
            <% }); %>
        </ul>
    </div>
</div>

<% include ../partials/footer %>